<div class="holder-container">
    <h2>Policy Holder Details</h2>

    <div class="passenger-outer-content">
        <div class="table">
            <div class="table-content">
    
                <div class="rowHeader">
                    Pax Name
                </div>
                <div class="rowValue">
                    <p matTooltip="Frequent Flyer" matTooltipPosition="above">Mr. Sreejith Shenoy</p>
                </div>
                <div class="rowValue">
                    <p matTooltip="Frequent Flyer" matTooltipPosition="above">Mr. Sreejith Shenoy</p>
                </div>
    
            </div>
    
            <div class="table-content">
    
                <div class="rowHeader">
                   Pax Type
                </div>
                <div class="rowValue">
                    <p>ADULT</p>
                </div>
                <div class="rowValue">
                    <p>CHILD</p>
                </div>
    
            </div>
    
            <div class="table-content">
    
                <div class="rowHeader">
                  Date of Birth
                </div>
                <div class="rowValue">
                    <p>20 May 1992</p>
                </div>
                <div class="rowValue">
                    <p>20 May 1992</p>
                </div>
    
            </div>
    
            <div class="table-content">
    
                <div class="rowHeader">
                   Policy No 
                </div>
                <div class="rowValue">
                    <p>M26169446915</p>
                </div>
                <div class="rowValue">
                    <p>M26169446915 </p>
                </div>
    
            </div>
    
            <div class="table-content">
    
                <div class="rowHeader">
                 Passport Number  
                </div>
                <div class="rowValue">
                    <p>V75847148</p>
                </div>
                <div class="rowValue">
                    <p>V75847148 </p>
                </div>
    
            </div>
        </div>
    </div>

</div>
