<div class="view-plan">
    <section class="sidenav-content">
        
        <app-policy-summary></app-policy-summary>
        <app-policy-holder></app-policy-holder>

        <div class="fare-summary">
            <app-fare-summary-vat></app-fare-summary-vat>
        </div>

        <div class="paymentbottom">
            <div class="right-content">
                <div class="right">
                    <div>
                        <h3>₹10,579</h3>
                        <h6>you earn</h6>
                    </div>
                
                </div>
                <button mat-flat-button class="btn" color="primary">Make Payment</button>
            </div>
            
        </div>
    </section>
</div>