<div class="flight-review">
    <div class="review-top">
        <div class="start-date">
            <span style="color: #a2a1a1;">START DATE</span><br>
            <span style="color: rgb(0, 0, 0);">Fri,14 Jan,2022</span>
        </div>
        <div class="coverage">
            <span style="color:#a2a1a1;">COVERAGE</span><br>
            <span style="color: rgb(0, 0, 0);">Single Trip</span>
        </div>
        <div class="adult">
            <span style="color: #a2a1a1;">ADULT(S)</span><br>
            <span style="color: rgb(0, 0, 0);">01</span>
        </div>
        <div class="child">
            <span style="color: #a2a1a1;">CHILD(S)</span><br>
            <span style="color: rgb(0, 0, 0);">02</span>
        </div>
        <div class="period">
            <span style="color: #a2a1a1;">PERIOD</span><br>
            <span style="color: rgb(0, 0, 0);">Upto 7 Days</span>
        </div>
    </div>

    <div class="border-bottom"></div>

    <div class="review-bottom">
        <div class="benefits">
            <span style="color: #a2a1a1;">ADDITIONAL BENEFITS</span><br>
            <span style="color:rgb(0, 0, 0)">TerrorismWinterSports</span>
        </div>
    </div>
</div>
