.rule-head {
    display: flex;
    justify-content: space-between;
}

.click-down {
    cursor: pointer;
}

section {
    -moz-transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

.rotate {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.ul-lists, .ol-lists {
    font-size: 14px;
    color: black;
    position: relative;
    padding-left: 8px;
    margin-left: -22px;

}

.ul-lists::before {
    content: "";
    background: yellow;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    margin-left: -21px;
    left: 5px;
    top: 4px;
}

.check_box {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    border-radius: 10px;
    accent-color: #ADCD00;
    width: 100%;
    
}

.rule-checkbox {
   
    border-radius: 8px;
}


 .exp-panel {
    margin: 7px;
    width: 94%;
    border-radius: 4px;
    border: 1px solid #d0d0d0;

    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); */
    background-color: white;
    padding: 15px 20px;
    margin-top: 10px;
    overflow: hidden;
} 
/* 
.exp-header {
    display: flex;
    justify-content: space-between;
}  */

.exp-panel, .exp-header {
    justify-content: space-between;
    margin-left: 5px;
     align-items: center; } 


 section {
     -moz-transition: all 0.25s linear;
     -webkit-transition: all 0.25s linear;
     transition: all 0.25s linear;
 }

 .rotate {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
 }
/* 
.click-down {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.rule-content {
    border-top: 1px solid #e7e7e7;
    padding-top: 10px;
    margin-top: 0;
}

.rule-list {
    margin-top: 5px;
}

@media only screen and (max-width: 1200px) {
    .exp-panel {
        width: 89%;
        margin-left: 15px;
    }

    .check_box {
        margin-bottom: 12px;
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width: 774px) {
    .exp-panel {
            width: 88%;
            margin-left: 15px;
        }
    
        .check_box {
    
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 12px;
           
        }
        /* .rule-checkbox {
            margin-bottom: 20px;
        } */
}


@media only screen and (max-width: 711px) {
    .check_box {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 12px;
        }

    #confirm {
        margin-bottom: 18px;
    }
}

@media only screen and (max-width: 700px) {
    .check_box {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 12px;
        }

    .rule-checkbox {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 550px) {
    .exp-panel {
        width: 87%;
    }
}

@media only screen and (max-width: 468px) {
    .exp-panel {
        width: 86%;
    }
}

@media only screen and (max-width: 452px)  {

    .check_box {
    
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 12px;
    
        }
/* 
    .rule-checkbox {
        margin-bottom: 25px;
    } */
}


@media only screen and (max-width: 448px) {
    .check_box {
    
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
    
        }

    #confirm {
        margin-bottom: 40px;
    }

    .rule-checkbox {
            /* margin-bottom: 25px; */
        margin-bottom: 20px;
        
        }
}

@media only screen and (max-width: 440px) {
    .check_box {
    
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 12px;
    
        }

    .rule-checkbox {
        margin-bottom: 40px;
    }
}