<mat-accordion >
    <mat-expansion-panel class="exp-panel">
        <mat-expansion-panel-header class="exp-header">
            <mat-panel-title>

                <h2 class="restriction">Rules & Restrictions</h2>
                        

            </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="rule-content">
            <ul class="rule-list">
                
                <li class="ul-lists">
                    Kindly check the spelling & reconfirm the passenger name(s) before you book.
                </li>
                <li class="ul-lists">
                    Ticket name changes are not permitted once issued
                </li>
            </ul><br>
                
            <p style="margin-left: 5px;">The above mentioned purchases are subject to cancellation, date change fees and once
                purchased tickets are non-transferable and name changes are not permitted. For further details, read the overview of all the <a> terms
                and conditions</a>
            </p>
                
            <ol class="number-list">
                
                <li class="ol-lists">
                    You must be a permanent resident of the United Arab Emirates.
                </li>
                <li class="ol-lists">
                    Any pre-existing medical conditions and/or ailments declared or undeclared will be excluded from the policy.
                </li>
                <li class="ol-lists">
                    This policy provides cover on a worldwide basis subject to the territorial exclusion under which this policy
                    does not cover any claims, loss, injury, damage or legal liability arising directly or indirectly from
                    planned or actual travel in, to, or through Afghanistan, Cuba, Iran, Iraq, Syria, North Korea and the Crimea Region.
                </li>
                <li class="ol-lists">
                    I/We confirm that each traveler(s) under this policy is/are resident(s) of United Arab Emirates and the
                    information provided is accurate. I/We have read and understood the <a> terms and conditions</a> of the
                    policy.
                </li>
            </ol><br>
                
            <section class="checkbox-section">
                
                <div class="check_box"> <input class="rule-checkbox" type="checkbox"> <label for="readandaccept"> I have read
                    and accepted the rules and restrictions. (please check the box to continue) </label></div>
                
                <div class="check_box"> <input class="rule-checkbox" type="checkbox" id="confirm"> <label for="confirm"> I confirm that I am
                    Holding Valid UAE Residence Visa (please chek the box to continue)</label></div>
            </section>
                
        </div>
    </mat-expansion-panel>
</mat-accordion>