<link rel= "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="pricing">
    <div class="pricing-left">
            <div class="heading-1">
                    <div class="heading-first">
                            <h2>Review Your Policy</h2>
                    </div>
                    <div class="heading-right">
                            <a class="search">Back to Search</a>
                            <!-- <a >Back to Seach</a> -->
                    </div>
            </div>
            <div class="policy-review">
                    <div class="policy-review-left">
                            <div class="individual">
                                    <h2>Individual</h2>
                            </div>
                            <div class="destination">
                                    <span style="color: #a2a1a1;">DESTINATION :</span>
                                    <span style="color: rgb(0, 0, 0);">UAE</span>
                            </div>
                    </div>
    
                    <div class="policy-review-right" (click)="openReview()">
                        
                                 <!-- <i style="font-size:30px; "  class="fa">&#xf107;</i>        -->
                                <!-- <i style='font-size:24px' class='fas'>&#xf107;</i> -->
                                <i class="fa fa-angle-down" style="font-size:36px"></i>

                      
                                <!-- <i class='fas fa-chevron-down' style='font-size:36px'></i> -->

                    </div>
                </div> 
                <div class="review-container" *ngIf="showReview">     
                    <app-flight-review></app-flight-review> 
                </div>
   
    <div class="heading-left">
            <h2 >Passenger Information</h2>
    </div>
    <div class="passenger-info">
            <div class="heading-2">
                    <h4>ADULT <span style="color: rgb(122, 118, 118);">12+years</span></h4>
            </div>
            <div class="details">
                    <div class="card-1">
                              <ul>
                                    <li class="title"> 
                                           
                                            <mat-form-field  appearance="outline">
                                                    <mat-label>Title </mat-label>
                                                    <!-- <input class="title"  matInput placeholder="title"> -->

                                                    <mat-select>
                                                            <ng-container *ngFor="let i of title">
                                                                    <mat-option value="{{i}}"> {{i}} </mat-option>
                                                            </ng-container>
                                                    </mat-select>

                                            </mat-form-field>
                                    </li>
                                    <li class="name">
                                            <mat-form-field appearance="outline">
                                                    <mat-label>Surname</mat-label>
                                        
                                                    <mat-error *ngIf="surname.invalid">Surname is required</mat-error>
                                                    <input  class="" matInput placeholder="Enter Surname" [formControl]="surname" required>
                                                  </mat-form-field>
                                           
                                    </li>
                                    <li class="name">
                                            <mat-form-field appearance="outline">
                                                    <mat-label>Last Surname</mat-label>
                                                    <input matInput placeholder="Enter Last Surname">
                                                  </mat-form-field>
                                           
                                    </li>
                            </ul>
                    </div>
                    <div class="card-2">
                      
                                     <ul>
                                        <li class="passport">
                                                
                                             <mat-form-field appearance="outline">
                                                <mat-label>Passport Number</mat-label>
                                                <input  matInput placeholder="Passport Number">
                                        </mat-form-field> 

                                        </li>
                                        <li class="DOB"> 
                                                <mat-form-field appearance="outline">
                                                        <mat-label>Date of Birth</mat-label>
                                                        <input matInput [matDatepicker]="date">
                                                         <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                                                         <mat-datepicker #date></mat-datepicker>
                                                     </mat-form-field>
                                                     

                                        </li>
                                       </ul>
                    </div>
                    <div class="border-bottom"></div>
                    <h5 class="additional-details" (click)="openReview()">Additional Dependent Details
                        <i style='font-size:36px;left:3px;position: relative; top: 5px;' class="fa fa-angle-down" ></i>
                        <!-- <i class="fa fa-angle-down" style="font-size:36px"></i> -->

                         <!-- <i style="font-size:24px;left:3px;position: relative; top: 5px;" class='fas fa-chevron-down'>  </i> -->
                    </h5>

                    <div class="additional-details" >
                
                            <div class="expansion" *ngIf="showReview">

                                <div class="card-3">
                                        <div class="role">
                                                <span>Relationship : <b>Spouse</b></span>
                                        </div>

                                        <ul class="role-title">
                                                <li class="title"> 
                                                       
                                                        <mat-form-field appearance="outline">
                                                                <mat-label>Title </mat-label>
                                                                <!-- <input class="title" matInput placeholder="title"> -->
            
                                                                <mat-select>
                                                                       
                                                                                <mat-option value="one"> One</mat-option>
                                                                </mat-select>
            
                                                        </mat-form-field>
                                                </li>
                                                <li class="name">
                                                        <mat-form-field appearance="outline">
                                                                <mat-label>Surname</mat-label>
                                                                <input   matInput placeholder="Enter Surname">        
                                                        </mat-form-field>
                                                       
                                                </li>
                                                <li class="name">
                                                        <mat-form-field appearance="outline">
                                                                <mat-label>Last Surname</mat-label>
                                                                <input matInput placeholder="Enter Last Surname">
                                                 
                                                         </mat-form-field>
                                                       
                                                </li>
                                        </ul>
                                        <ul class="role-passport">
                                                <li class="passport">
                                                        
                                                     <mat-form-field appearance="outline">
                                                        <mat-label>Passport Number</mat-label>
                                                        <input matInput placeholder="Passport Number">
                                                     </mat-form-field> 
        
                                                </li>
                                                <li class="DOB">
                                                        
                                                        <mat-form-field appearance="outline">
                                                                <mat-label>Date Of Birth</mat-label>
                                                                <input matInput [matDatepicker]="date">
                                                                 <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                                                                 <mat-datepicker #date></mat-datepicker>
                                                             </mat-form-field>
                                                             
        
                                                </li>
                                        </ul>
                                           
                                </div>
                                <div class="card-4">
                                        <div class="role">
                                                <span>Relationship : <b>Child</b></span>
                                        </div>
                                        <ul class="role-title">
                                                <li class="title"> 
                                                       
                                                        <mat-form-field appearance="outline">
                                                                <mat-label>Title </mat-label>
                                                                <!-- <input class="title" matInput placeholder="title"> -->
            
                                                                <mat-select>
                                                                        
                                                                                <mat-option value="one" > One </mat-option>
                                                                </mat-select>
            
                                                        </mat-form-field>
                                                </li>
                                                <li class="name">
                                                        <mat-form-field appearance="outline">
                                                                <mat-label>Surname</mat-label>
                                                                <input class="" matInput placeholder="Enter Surname">

                                                        </mat-form-field>
                                                       
                                                </li>
                                                <li class="name">
                                                        <mat-form-field appearance="outline">
                                                                <mat-label>Last Surname</mat-label>
                                                                <input matInput placeholder="Enter Last Surname">
                                                              </mat-form-field>
                                                       
                                                </li>
                                        </ul>
                                        <ul class="role-passport">
                                                <li class="passport">
                                                        
                                                     <mat-form-field appearance="outline">
                                                        <mat-label>Passport Number</mat-label>
                                                        <input matInput placeholder="Passport Number">
                                                </mat-form-field> 
        
                                                </li>
                                                <li class="DOB">   
                                                        <mat-form-field appearance="outline">
                                                                <mat-label>Date of Birth</mat-label>
                                                                <input matInput [matDatepicker]="picker">
                                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                                <mat-datepicker #picker></mat-datepicker>
                                                        </mat-form-field>
                                                </li>
                                        </ul>
                                </div>
                        </div>
                 </div>
            </div>
       </div>

       <h4>Passenger Contact Details</h4>
       <div class="pas-contact-container">
            <div class="pas-details-container">

                <mat-form-field appearance="outline" class="input-box">
                <!-- <input class="telephone" type="tel" ng2TelInput (hasError)="hasError($event)" (ng2TelOutput)="getNumber($event)" (intlTelInputObject)="telInputObject($event)" (countryChange)="onCountryChange($event)" /> -->
                 <input matInput class="telephone" type="tel" name="phone" id="phone" />
                </mat-form-field>

                 <mat-form-field appearance="outline" class="input-box">
                 <input matInput class="email" placeholder="Email ID">
                </mat-form-field>
            </div>
      
            <div class="footer">
                <div class="left"> 
                <!-- <div class="dangericon"><span class="ak-danger icon"></span></div> -->
                <div class="txt"><span class="dangericon"><i class='fa fa-exclamation-triangle' style='font-size:24px; color: #ff7800; font-size: 20px; color: #fff; margin-top: 0; margin-bottom: -10px; '></i></span> Please enter correct Mobile number. Incorrect mobile number might cause issues at the time of
                        cancellation and refund</div>
                </div>
           </div>
       </div>

<app-rules-restrictions></app-rules-restrictions>
   

        <div class="payment-container">
        
                <h4 style="margin-bottom: -15px;">Payment Option</h4>
        
        </div>

<app-payment-type></app-payment-type>

        <div class="payment-bottom">
                <div class="left">

                <p>
                        By click on Make Payment,<br />I agree with the booking policies,
                        <a href=""> Privacy policy & Terms </a>
                </p>

        </div>

        <div class="right">
                <div>
                        <h3>₹10,579</h3>
                        <h6>you earn</h6>
                </div>

                <button class="make-payment">Make Payment</button>

        </div>
   </div>

<!-- <app-side-panel [open]="showSidePanel" (close)="closeSidePanel()" [heading]="'Reconfirmation'"> -->
    <!-- <app-reconfirmation></app-reconfirmation> -->
<!-- </app-side-panel> -->

    </div>
     <div class="pricing-right">
            <div class="fare-details">
                    <h2>Fare Details</h2>
            </div>
            <app-fare-summary></app-fare-summary>

     </div>
</div>