<div class="flight-review">
    <h2>Policy Summary</h2>
    <div class="flightreview-row">
        <div class="row insurance-row">
            <div class="policy-row1">
                <div class="small-heading">
                    <p class="p-head">Policy Type
                    <p>
                    <p>Individual</p>
                </div>
                <div class="small-heading">
                    <p class="p-head">Start Date</p>
                    <p>Fri,14 Jan, 2022</p>
                </div>
                <div class="small-heading">
                    <p class="p-head">Destination</p>
                    <p>UAE</p>
                </div>
            </div>
            
            <div class="policy-row2">
                <div class="small-heading1">
                    <p class="p-head">Coverage</p>
                    <p>Single Trip</p>
                </div>
                <div class="small-heading1">
                    <p class="p-head">Period</p>
                    <p>Upto 7 Days</p>
                </div>
            </div>
           

        </div>

        <div class="horizontalborder-line"></div>

        <div class="insurance-row-below">

            <div class="small-heading">
                <p class="p-head">Adult(s)</p>
                <p>01</p>
            </div>
            <div class="small-heading">
                <p class="p-head">Child(s)</p>
                <p>02</p>
            </div>
            <div class="small-heading">
                <p class="p-head">Additional Benefits</p>
                <p>TerrorismWinterSports</p>
            </div>

        </div>

    </div>
</div>
