<div class="deposit-container">
    <div class="deposit-content">

        <div class="left-content">
            <div class="deposit-checkbox"> <input class="dep-check" type="checkbox"> <label for="depositaccount"> Use Deposit
                    Account </label></div>
        </div>

        <!-- <div class="right-content">
            <div class="deposit-row">
                <p>From Deposit <br> Account</p>
                <h4>₹ 2,507</h4>
                <span><i class='fas fa-piggy-bank' style='font-size:24px'></i></span>
            </div>
        </div> -->

        <div class="right-content">
            <div class="deposit-row">
                <div class="deposit-left">
                    <p>From Deposit<br />Account</p>
                </div>
                <div class="deposit-right">
                    <h4>₹ 2,507</h4>
                </div>
                
            </div>
            <span><i class='fas fa-piggy-bank' style='font-size:24px;  color: #686767;'></i></span>

         </div>
    
    

       
    </div>
</div>
