<div class="flight-review">
    <div class="review-top">
        <div class="start-date">
            <span style="color: #a2a1a1;">SELECTED PLAN</span><br>
            <span style="color: rgb(0, 0, 0);">Travel Assurance-Gold Covid Plus Plan</span>
        </div>
        <div class="coverage">
            <span style="color:#a2a1a1;">POLICY TYPE</span><br>
            <span style="color: rgb(0, 0, 0);">Individual</span>
        </div>
        <div class="adult">
            <span style="color: #a2a1a1;">ADULT(S)</span><br>
            <span style="color: rgb(0, 0, 0);">01</span>
        </div>
        <div class="child">
            <span style="color: #a2a1a1;">CHILD(S)</span><br>
            <span style="color: rgb(0, 0, 0);">02</span>
        </div>
        <div class="period">
            <span style="color: #a2a1a1;">PERIOD OF COVERAGE</span><br>
            <span style="color: rgb(0, 0, 0);"> 7 Days</span>
        </div>
    </div>

    